@{
  ViewData["Title"] = "Home Page";
}
@section Scripts {
  @*<script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/js/calls.js"></script>*@
  <script src="~/client/app.js"></script>
}
<div id="app"></div>
